<!DOCTYPE html>
<html lang="en" class="no-scroll-bar">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Helium Console</title>
    <link rel="icon" href="https://console.helium.com/favicon.png" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <script>
      window.flashInfo = "<%= get_flash(@conn, :info) %>"
      window.flashError = "<%= get_flash(@conn, :error) %>"
    </script>
    <script>
      window.auth0_domain = "<%= Application.get_env(:console, :auth0_domain) %>"
      window.auth0_client_id = "<%= Application.get_env(:console, :auth0_client_id) %>"
      window.env_domain = "<%= Application.get_env(:console, :env_domain) %>"
      window.mapbox_pk = "<%= Application.get_env(:console, :mapbox_pk) %>"
      window.mapbox_style_url = "<%= Application.get_env(:console, :mapbox_style_url) %>"
      window.disable_user_burn = "<%= Application.get_env(:console, :disable_user_burn) %>"
      window.use_magic_auth = "<%= Application.get_env(:console, :use_magic_auth) %>"
      window.magic_public_key = "<%= Application.get_env(:console, :magic_public_key) %>"
    </script>
    <div class="mainContainer">
      <main role="main">
        <%= @inner_content %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/reactredux.bundle.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/auth0.bundle.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/apollo.bundle.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/antd.bundle.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/antdesign.bundle.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/amplitude.bundle.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/reactflow.bundle.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/chartjs.bundle.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/sanitize.bundle.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/utility.bundle.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/mapbox.bundle.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/main.bundle.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/runtime.bundle.js") %>"></script>
    <iframe id="myFrame" sandbox="allow-scripts" style="height:0px;width:0px;opacity:0;position:absolute;top:0;"
      srcdoc="<html><head><script>window.addEventListener('message', function (e) {var mainWindow = e.source;var result = '';try {result = eval(e.data);} catch (e) {result = 'Your function threw an exception';}mainWindow.postMessage(result, event.origin);});</script></head></html>"
    >
    </iframe>
    <script>
    (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/uj330shp';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
    </script>
  </body>
</html>
