/* This file is for your main application css. */
body {
  overscroll-behavior: none;
}

:focus
{
  outline: none;
}

a
{
  text-decoration: none;
  color: #2C98F0;
}


.noty_theme__mui.noty_bar {
  font-family: Roboto;
  font-weight: 100;
  margin: 4px 0;
  overflow: hidden;
  border-radius: 2px;
  position: relative; }
  .noty_theme__mui.noty_bar .noty_body {
    padding: 10px; }
  .noty_theme__mui.noty_bar .noty_buttons {
    border-top: 1px solid #e7e7e7;
    padding: 5px 10px; }

.noty_theme__mui.noty_type__alert,
.noty_theme__mui.noty_type__notification {
  background-color: #fff;
  border: 1px solid #dedede;
  color: #444; }

.noty_theme__mui.noty_type__warning {
  background-color: #FFEAA8;
  border: 1px solid #FFC237;
  color: #826200; }
  .noty_theme__mui.noty_type__warning .noty_buttons {
    border-color: #dfaa30; }

.noty_theme__mui.noty_type__error {
  background-color: #EF5350;
  border: 1px solid #D32F2F;
  color: #FFF; }
  .noty_theme__mui.noty_type__error .noty_buttons {
    border-color: darkred; }

.noty_theme__mui.noty_type__info,
.noty_theme__mui.noty_type__information {
  background-color: #78C5E7;
  border: 1px solid #3badd6;
  color: #FFF; }
  .noty_theme__mui.noty_type__info .noty_buttons,
  .noty_theme__mui.noty_type__information .noty_buttons {
    border-color: #0B90C4; }

.noty_theme__mui.noty_type__success {
  background-color: #00E676;
  border: 1px solid #00C853;
  color: #1B5E20; }
  .noty_theme__mui.noty_type__success .noty_buttons {
    border-color: #50C24E; }

#searchBar
{
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 4px 36px 4px 20px;
  display: flex;
  margin-right: 4px;
  position: relative;
}

#searchBar:hover
{
  cursor: text;
  background: rgba(255, 255, 255, 0.2);
}

#searchBar::after
{
  content: '/';
  position: absolute;
  right: 8px;
  border: 0.5px solid #ffffff57;
  padding: 1px 8px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  top: 6px;
  color: #ffffffa6;
}

#searchBar input
{
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 24px;
  margin-left: 20px;
  width: 130px;
  /* background: rgba(255, 0, 0, 0.2); */

  transition: all 0.2s ease 0s;
}

#searchBar input:focus
{
  width: 200px;
}

#searchResults
{
  position: absolute;
  top: 48px;
  z-index: 100;
  right: 100px;
  min-width: 320px;
}
