@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~noty/lib/noty.css';
@import './mapbox.css';
@import './chartjs.css';
@import '~antd/dist/antd.css';

/* This file is for your main application css. */
body {
  overscroll-behavior: none;
  height: 100%;
}

.mainContainer {
  height: 100%;
}

main {
  height: 100%;
}

#react-root {
  height: 100%;
}

:focus
{
  outline: none;
}


.noty_theme__mui.noty_bar {
  font-family: Roboto;
  font-weight: 100;
  margin: 4px 0;
  overflow: hidden;
  border-radius: 2px;
  position: relative; }
  .noty_theme__mui.noty_bar .noty_body {
    padding: 10px; }
  .noty_theme__mui.noty_bar .noty_buttons {
    border-top: 1px solid #e7e7e7;
    padding: 5px 10px; }

.noty_theme__mui.noty_type__alert,
.noty_theme__mui.noty_type__notification {
  background-color: #fff;
  border: 1px solid #dedede;
  color: #444; }

.noty_theme__mui.noty_type__warning {
  background-color: #FFEAA8;
  border: 1px solid #FFC237;
  color: #826200; }
  .noty_theme__mui.noty_type__warning .noty_buttons {
    border-color: #dfaa30; }

.noty_theme__mui.noty_type__error {
  background-color: #EF5350;
  border: 1px solid #D32F2F;
  color: #FFF; }
  .noty_theme__mui.noty_type__error .noty_buttons {
    border-color: darkred; }

.noty_theme__mui.noty_type__info,
.noty_theme__mui.noty_type__information {
  background-color: #78C5E7;
  border: 1px solid #3badd6;
  color: #FFF; }
  .noty_theme__mui.noty_type__info .noty_buttons,
  .noty_theme__mui.noty_type__information .noty_buttons {
    border-color: #0B90C4; }

.noty_theme__mui.noty_type__success {
  background-color: #00E676;
  border: 1px solid #00C853;
  color: #1B5E20; }
  .noty_theme__mui.noty_type__success .noty_buttons {
    border-color: #50C24E; }

/* Search Bar */

#searchBar
{
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 4px 16px 4px 16px;
  display: flex;
  margin-right: 4px;
  position: relative;
}

#searchBar:hover
{
  cursor: text;
  background: rgba(255, 255, 255, 0.2);
}

#searchBar input
{
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 24px;
  margin-left: 20px;
  width: 100px;
  /* background: rgba(255, 0, 0, 0.2); */

  transition: all 0.2s ease 0s;
}

#searchBar input:focus
{
  width: 100px;
}

#searchResults
{
  position: absolute;
  top: 48px;
  z-index: 100;
  right: 130px;
  width: 360px;
}

#searchResults .jumpto .jumpto--inner
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  color: #949494;
  width: 60px;
  margin-left: 14px;
}

#searchResults .jumpto svg
{
  font-size: 16px;
}

#RoleTable td {
  border-bottom: 0px;
}

.ant-card {
  border-radius: 10px;
  margin-bottom: 20px;
}

.no-padding-card {
  padding: 0;
  padding-top: 20px;
}
.ant-card-body button.ant-btn {
  margin-right: 16px;
  margin-bottom: 0px;
}

.ant-card-head {
  padding: 0 16px;
}

.ant-table-tbody button.ant-btn {
  margin: 0;
  }

.ant-page-header {
  padding-left: 3px;
  padding-bottom: 40px;
}

.ant-layout-header {
  padding: 0 25px;
}

.ant-page-header-heading-title {
  font-size: 30px;
}

.ant-empty-image {
  height: 60px;
}

.ant-pagination {
  margin-top: 20px;
  margin-right: 20px;
}
