@import '~mapbox-gl/dist/mapbox-gl.css';
@import './mapbox.css';
@import './chartjs.css';
@import '~antd/dist/antd.css';
@import url("https://use.typekit.net/qfu3tzp.css");

/* This file is for your main application css. */
body {
  overscroll-behavior: none;
  height: 100%;
  font-family: soleil, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';;
}

.mainContainer {
  height: 100%;
}

main {
  height: 100%;
}

h1 {
  letter-spacing: -1px;
}

#react-root {
  height: 100%;
}

:focus
{
  outline: none;
}

/* Search Bar */

#searchBar
{
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 4px 16px 4px 16px;
  display: flex;
  margin-right: 4px;
  position: relative;
}

#searchBar:hover
{
  cursor: text;
  background: rgba(255, 255, 255, 0.2);
}

#searchBar input
{
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  line-height: 24px;
  margin-left: 10px;
  width: 100px;
  /* background: rgba(255, 0, 0, 0.2); */

  transition: all 0.2s ease 0s;
}

#searchBar input:focus
{
  width: 200px;
}

#searchResults
{
  position: absolute;
  top: 48px;
  z-index: 100;
  right: 130px;
  width: 360px;
}

#searchResults .jumpto .jumpto--inner
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  color: #949494;
  width: 35px;
  margin-left: 14px;
}

#searchResults .jumpto svg
{
  font-size: 16px;
}


#RoleTable td {
  border-bottom: 0px;
}

.ant-card {
  border-radius: 10px;
  margin-bottom: 20px;
}

.ant-menu-inline {
  margin-top: 40px;
}

.ant-layout-header {
  background: #00274c;
}

.no-padding-card {
  padding: 0;
  padding-top: 20px;
}
.ant-card-body button.ant-btn {
  margin-right: 16px;
  margin-bottom: 0px;
}

.ant-card-head {
  padding: 0 16px;
}

.ant-table-tbody button.ant-btn {
  margin: 0;
  }

.ant-page-header {
  padding-left: 3px;
  padding-bottom: 40px;
}

.ant-layout-header {
  padding: 0 25px;
}

.ant-page-header-heading-title {
  font-size: 30px;
}

.ant-page-header-heading {
  overflow: initial;
  margin-bottom: 50px;
}

.ant-empty-image {
  height: 80px;
  margin-bottom: 10px;
}

.ant-pagination {
  margin-top: 20px;
  margin-right: 20px;
}

.ant-message {
  top: 30px;
}

@keyframes rotate{
  to{ transform: rotate(360deg); }
}

.rotate{
  animation: rotate 1.5s linear infinite;
}
