.mapboxgl-popup-content {
  padding: 0;
  border-radius: 5px 5px;
}

.mapboxgl-popup-content p {
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 1.1em;
  margin: 0;
  padding: 8px 5px 8px 5px;
  color: #2196F3;
}

.mapboxgl-popup-content .blue {
  background-color: #2196F3;
  color: white;
  border-radius: 5px 5px 0px 0px;
}
