{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-transform-destructuring",
    "@babel/transform-parameters",
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/proposal-class-properties",
    "styled-jsx/babel",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
