{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "10"
        }
      }
    ],
    "babel-preset-react"
  ],
  "plugins": [
    "transform-es2015-destructuring",
    "transform-es2015-parameters",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}
