Welcome to Helium Console!

Please confirm your account by visiting the link below. If you did not request an account, you can ignore this message.

<%= confirm_email_url(ConsoleWeb.Endpoint, :confirm_email, @token) %>
