Hi there,

An administrator of <%= @organization_name %> purchased data credits on <%= @app_name %>.

This email is to inform you that a recurring charge of <%= @cost %> for <%= @dc_purchased %> Data Credits completed at <%=  @date_time%>.
