<p>
  You've been invited to collaborate on an organization at Helium.
  <a href="<%= accept_invitation_url(ConsoleWeb.Endpoint, :accept, @token) %>">
    Click here to join the organization
  </a>.
</p>
