Hi there,

We got a request to reset your Helium Console password. If you ignore this message, your password will not be changed.

Visit <%= reset_password_url(ConsoleWeb.Endpoint, :reset_password, @token) %> to reset your password.
