# Merge into staging when pull requests are approved

# on:
#   pull_request_review:
#     types: [submitted]
#     branches: 'master'
#
# jobs:
#   add_to_staging:
#     runs-on: ubuntu-latest
#
#     env:
#       APPROVED_BRANCH: ${{ github.event.pull_request.head.ref }}
#
#     steps:
#     - uses: actions/checkout@v2
#       with:
#         fetch-depth: 0
#
#     # Add the changes to staging
#     - name: Merge approved changes to staging
#       if: github.event.review.state == 'approved'
#       run: |
#         git config --global user.name 'Automated Merge'
#         git config --global user.email \<\>
#         git checkout $APPROVED_BRANCH
#         git checkout staging
#         git merge --squash $APPROVED_BRANCH
#         git commit -m "Approved branch staging merge from "${APPROVED_BRANCH}
#         git push origin staging
